@{
    ViewBag.Title = "权限树管理";
    Layout = "~/Views/Shared/_EasyUiLayout.cshtml";
}
<head>
    <title>权限树管理</title>

    <script type="text/javascript" src="@Url.Content("~/scripts/ajaxfileupload.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#dlg').dialog('close');
            InitGrid();

        });

        function InitGrid() {
            $("#datagrid").datagrid({
                title: "图片素材库列表",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'textId',
                striped: true,
                border: false,
                iconCls: 'icon icon-tree',
                url: '/Today/GetImageGalleryList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    {
                        field: 'url', width: 300, title: "缩略图", sortable: true,
                        formatter: function (value) {
                            if (value != "" || value != null) {
                                return "<img style=\"height: 300px;width: 300px;\" src=\"" + value + "\"/>";
                            }
                        }
                    },
                    {
                        field: 'formatter', width: 700, title: "图片详情", sortable: true,
                        formatter: function (value, row) {
                            var str = "";
                            if (value != "" || value != null) {
                                str = "<div style='font-size:14px'>图片名:" + row.imgName + "<br/><br/>";
                                str += "图片来源:" + row.imgSource + "<br/><br/>";
                                str += "作者:" + row.author + "<br/><br/>";
                                str += "备注:" + row.remark + "<br/><br/>";
                                str += "创建人:" + row.createUser + "<br/><br/>";
                                str += "最近修改人:" + row.modifyUser + "<br/><br/>";
                                str += "创建时间:" + row.createTimeDesc + "<br/><br/>";
                                str += "最近修改时间:" + row.modifyTimeDesc + "</div>";
                            }
                            return str;
                        }
                    }
                ]],
                toolbar: "#tb",
                onDblClickCell: function () {
                    editItem();
                }
            });
        }


        //添加
        function addItem() {
            $('#addType').val(1);
            $('#imgNameInput').val("");
            $('#imgSourceInput').val("");
            $('#authorInput').val("");
            $('#remarkInput').val("");
            $('#dlg').dialog('open');
        }

        //提交
        function submit() {
            var imgId = $('#hiddenId').val();
            if ($('#addType').val() === "1") {
                imgId = 0;
            }
            var queryData = {
                ImgName: $("#imgNameInput").val(),
                ImgSource: $("#imgSourceInput").val(),
                Author: $("#authorInput").val(),
                Remark: $("#remarkInput").val(),
                ImgId: imgId
            };
            $.post("/Today/AddOrUpdateImage",
                { data: $.toJSON(queryData) },
                function (data) {
                    if (data.success) {
                        //成功后刷新界面
                        cancel();
                        reloadGrid();
                    }
                    else {
                        $.messager.alert("提示", data.ResultMessage);
                    }
                });
        }

        //取消
        function cancel() {
            $('#dlg').dialog('close');
        }

        //编辑
        function editItem() {

            $('#addType').val(2);

            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要编辑的行!', 'info');
                return;
            }
            $('#hiddenId').val(row.imgId);
            $('#imgNameInput').val(row.imgName);
            $('#imgSourceInput').val(row.imgSource);
            $('#authorInput').val(row.author);
            $('#remarkInput').val(row.remark);
            $('#dlg').dialog('open');
        }

        function del() {
            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要删除的行!', 'info');
                return;
            }
            $.messager.confirm('提示', '是否删除?', function (r) {
                if (r) {
                    $.post("/Today/DeleteImage",
                        { data: $.toJSON(row.imgId) },
                        function (data) {
                            if (data.success) {
                                //成功后刷新界面
                                reloadGrid();
                            }
                            else {
                                $.messager.alert("提示", data.ResultMessage);
                            }
                        });
                }
                else {
                    return;
                }
            });
        }

        function reloadGrid() {
            $('#datagrid').datagrid('reload');
        }

        //添加
        function upLoadImage() {
            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择对应的行!', 'info');
                return;
            }

            $("#imageFlile").click();
        }

        function upLoadFile() {
            if ($("#imageFlile").val().length > 0) {
                $.ajaxFileUpload(
                    {
                        url: '/Today/UploadLoadImageFlile', //用于文件上传的服务器端请求地址
                        secureuri: false, //一般设置为false
                        fileElementId: 'imageFlile', //文件上传空间的id属性
                        dataType: 'json', //返回值类型 一般设置为json
                        success: function (data)  //服务器成功响应处理函数
                        {
                            if (data.success) {
                                updateShortImageUrl(data.content);
                            } else {
                                $.messager.alert("提示", data.ResultMessage);
                            }

                        },
                        error: function (data)//服务器响应失败处理函数
                        {
                            $.messager.alert("提示1", data.ResultMessage);
                        }
                    });
            }
        }

        function updateShortImageUrl(url) {
            var row = $('#datagrid').datagrid('getSelected');

            var queryData = {
                ImgId: row.imgId,
                ShortUrl: url
            };

            $.post("/Today/UpdateShortUrl",
                { data: $.toJSON(queryData) },
                function (data) {
                    if (data.success) {
                        //成功后刷新界面
                        reloadGrid();
                    }
                    else {
                        $.messager.alert("提示", data.ResultMessage);
                    }
                });
        }

    </script>
</head>

<input id="hiddenId" type="hidden" />
<input id="addType" type="hidden" />
<input type="file" id="imageFlile" name="imageFlile" onchange='upLoadFile()' style="display:none" />

<table id="datagrid" style="width: 100%"></table>

<div id="tb">
    <table cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="addItem()">增加</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-edit" plain="true" onclick="editItem()">编辑信息</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="upLoadImage()">上传图片</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-delete" plain="true" onclick="del()">删除</a>
            </td>
        </tr>
    </table>
</div>


@*编辑框*@
<div id="dlg" class="easyui-dialog" title="图片素材" data-options="iconCls:'icon-save'" style="width:600px;height:330px;padding:10px;display:none">
    <div style="padding: 5px">
        <form id="ff">
            <table class="groupTable">
                <tr>
                    <td>图片名:</td>
                    <td> <input id="imgNameInput" class="easyui-validatebox textbox" type="text" style="height:30px;width:100%" /></td>
                </tr>
                <tr>
                    <td>图片来源:</td>
                    <td> <input id="imgSourceInput" class="easyui-validatebox textbox" type="text" style="height:30px;width:100%" /></td>
                </tr>
                <tr>
                    <td>作者:</td>
                    <td><input id="authorInput" class="easyui-validatebox textbox" type="text" style="height:30px;width: 100%" /></td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td><textarea id="remarkInput" style="height:60px;width: 100%"></textarea> </td>
                </tr>
            </table>
        </form>
        <br />
        <div align="center" style="float:left;margin-left:200px"><a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" onclick="cancel()">取消</a></div>
        <div align="center" style="float:right;margin-right:200px"><a href="#" class="easyui-linkbutton" iconcls="icon icon-ok" onclick="submit()">确定</a></div>
    </div>
</div>
