@{
    ViewBag.Title = "权限树管理";
    Layout = "~/Views/Shared/_EasyUiLayout.cshtml";
}
<head>
    <title>权限树管理</title>
    <script type="text/javascript">
        $(function () {
            $('#dlg').dialog('close');
            InitGrid();
        });

        function InitGrid() {
            $("#datagrid").datagrid({
                title: "图片素材库列表",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'textId',
                striped: true,
                border: false,
                iconCls: 'icon icon-tree',
                url: '/Today/GetTextGalleryList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    { field: 'textId', width: 40, title: "文本Id", sortable: true },
                    { field: 'textContent', width: 300, title: "文本内容", sortable: true },
                    { field: 'textSource', width: 120, title: "文本来源", sortable: true },
                    { field: 'author', width: 120, title: "作者", sortable: true },
                    { field: 'remark', width: 160, title: "备注", sortable: true },
                    { field: 'createUser', width: 80, title: "创建人", sortable: true },
                    { field: 'modifyUser', width: 80, title: "最近修改人", sortable: true },
                    { field: 'createTimeDesc', width: 130, title: "创建时间", sortable: true },
                    { field: 'modifyTimeDesc', width: 130, title: "最近修改时间", sortable: true }
                ]],
                toolbar: "#tb",
                onDblClickCell: function () {
                    editItem();
              }
            });
        }


        //添加
        function addItem() {
            $('#addType').val(1);
            $('#textContentInput').val("");
            $('#textSourceInput').val("");
            $('#authorInput').val("");
            $('#remarkInput').val("");
            $('#dlg').dialog('open');
        }

        //提交
        function submit() {
            var textId = $('#hiddenId').val();
            if ($('#addType').val() ==="1") {
                textId = 0;
            }
            var queryData = {
                TextContent: $("#textContentInput").val(),
                TextSource: $("#textSourceInput").val(),
                Author: $("#authorInput").val(),
                Remark: $("#remarkInput").val(),
                TextId: textId
            };
            $.post("/Today/AddOrUpdateText",
                { data: $.toJSON(queryData) },
                function (data) {
                    if (data.success) {
                        //成功后刷新界面
                        cancel();
                        reloadGrid();
                    }
                    else {
                        $.messager.alert("提示", data.ResultMessage);
                    }
                });
        }

        //取消
        function cancel() {
            $('#dlg').dialog('close');
        }

        //编辑
        function editItem() {

            $('#addType').val(2);

            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要编辑的行!', 'info');
                return;
            }
            $('#hiddenId').val(row.textId);
            $('#textContentInput').val(row.textContent);
            $('#textSourceInput').val(row.textSource);
            $('#authorInput').val(row.author);
            $('#remarkInput').val(row.remark);
            $('#dlg').dialog('open');
        }

        function del() {
            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要删除的行!', 'info');
                return;
            }
            $.messager.confirm('提示', '是否删除?', function (r) {
                if (r) {
                    $.post("/Today/DeleteText",
                        { data: $.toJSON(row.textId) },
                        function (data) {
                            if (data.success) {
                                //成功后刷新界面
                                reloadGrid();
                            }
                            else {
                                $.messager.alert("提示", data.ResultMessage);
                            }
                        });
                }
                else {
                    return;
                }
            });
        }
        function reloadGrid() {
            $('#datagrid').datagrid('reload');
        }
    </script>
</head>
<input id="hiddenId" type="hidden" />
<input id="addType" type="hidden" />
<table id="datagrid" style="width: 100%"></table>

<div id="tb">
    <table cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="addItem()">增加</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-edit" plain="true" onclick="editItem()">编辑</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-delete" plain="true" onclick="del()">删除</a>
            </td>
        </tr>
    </table>
</div>


@*编辑框*@
<div id="dlg" class="easyui-dialog" title="Basic Dialog" data-options="iconCls:'icon-save'" style="width:600px;height:330px;padding:10px;display:none">
    <div style="padding: 5px">
        <form id="ff">
            <table class="groupTable">
                <tr>
                    <td>文本内容:</td>
                    <td><textarea id="textContentInput" style="height:60px;width: 100%"></textarea> </td>
                </tr>
                <tr>
                    <td>文本来源:</td>
                    <td> <input id="textSourceInput" class="easyui-validatebox textbox" type="text" style="height:30px;width:100%" /></td>
                </tr>
                <tr>
                    <td>作者:</td>
                    <td><input id="authorInput" class="easyui-validatebox textbox" type="text" style="height:30px;width: 100%" /></td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td><textarea id="remarkInput" style="height:60px;width: 100%"></textarea> </td>
                </tr>
            </table>
        </form>
        <br />
        <div align="center" style="float:left;margin-left:200px"><a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" onclick="cancel()">取消</a></div>
        <div align="center" style="float:right;margin-right:200px"><a href="#" class="easyui-linkbutton" iconcls="icon icon-ok" onclick="submit()">确定</a></div>
    </div>
</div>
