@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_EasyUiLayout.cshtml";
}
<head>
    <script type="text/javascript">
        $(function () {
            InitGrid(null);
            InitCombobox();
        });

        function InitGrid(queryData) {
            $("#datagrid").datagrid({
                title: "真实用户列表",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'uId',
                striped: true,
                border: false,
                url: '/Today/GetRealUserList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                queryParams: queryData,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    {
                        field: 'headPhotoPath', width: 60, title: "头像", sortable: true,
                        formatter: function (value) {
                            if (value != "" || value != null) {
                                return "<img style=\"height: 60px;width: 60px;\" src=\"" + value + "\"/>";
                            }
                        }
                    },
                    { field: 'uId', width: 50, title: "UId", sortable: true },
                    { field: 'nickName', width: 130, title: "用户昵称", sortable: true },
                    { field: 'genderDesc', width: 60, title: "性别", sortable: true }
                ]],
                toolbar: "#tb",
                onClickRow: function (index, row) {
                    $('#hiddenId').val(row.uId);
                    $("#searchPickUpType").combobox('setValue', 0);
                    doPickUpListSearch();
                },
                onLoadSuccess: function (data) {
                    $('#hiddenId').val(data.rows[0].uId);
                    doPickUpListSearch();
                }
            });
        }

        function InitPickUpListGrid(queryData) {
            $("#pickUpListGrid").datagrid({
                title: "该用户获取的动态",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'uId',
                striped: false,
                border: false,
                url: '/Today/GetRealUserPickUpList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                queryParams: queryData,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    {
                        field: 'formatter', sortable: false,
                        formatter: function (value, row) {
                            var html = "<div style='float:left;padding-top:25px'><img style=\"border-radius: 100%;height: 60px;width: 60px;\" src=\"" + row.headImgPath + "\"/></div>";
                            html += "<div style='float:left;padding-left:15px;padding-top:30px'><div style='clear:both'>" + row.nickName + "</div>";
                            html += "<div style='clear:both;padding-top:10px'>" + row.createTime + "</div></div>";
                            html += "<div style='clear:both;padding-top:5px;height:100%;width: 100%'>" + row.textContent + "</div>";
                            if (row.imgContent != "" && row.imgContent != null) {
                                html += "<div style='clear:both'><img style =\"height: 100%;width: 100%;\" src=\"" + row.imgContent + "\"/></div>";
                            }
                            return html;
                        }
                    }
                ]],
                toolbar: "#tbPickUp",
                onClickRow: function (rowIndex, rowData) {
                    doDiscussDetailSearch(rowData.pickUpId);
                }
            });
        }

        function InitDiscussListGrid(queryData) {
            $("#discussListGrid").datagrid({
                title: "动态互动列表",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'pickUpId',
                striped: false,
                border: false,
                url: '/Today/GetRealUserDiscussDetail',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                queryParams: queryData,
                nowrap: false,   //换行
                pagination: false,
                columns: [[
                    {
                        field: 'headImgPath', width: 60, title: "头像", sortable: true,
                        formatter: function (value) {
                            if (value != "" || value != null) {
                                return "<img style=\"height: 60px;width: 60px;\" src=\"" + value + "\"/>";
                            }
                        }
                    },
                    { field: 'textContent', width: 250, title: "互动内容", sortable: true },
                    { field: 'recentChatTime', width: 150, title: "时间", sortable: true }
                ]],
                onDblClickCell: function () {
                    editItem();
                },
                onClickRow: function (rowIndex, rowData) {
                    $('#hiddenId').val(rowData.uId);
                }
            });
        }

        function InitCombobox() {
            $("#searchPickUpType").combobox({
                url: '/Main/PickUpTypeCombobox',
                method: 'post',
                valueField: 'selectKey',
                textField: 'selectValue',
                groupField: 'group',
                onSelect: function () {
                    doPickUpListSearch();
                }
            });
        }

        function reloadGrid() {
            $('#datagrid').datagrid('reload');
        }

        //重置
        function resetSearch() {
            $('#searchUId').val("");
        }

        //搜索
        function doSearch() {
            var queryData = {
                UId: $("#searchUId").val()
            };
            InitGrid(queryData);
        }

        function doPickUpListSearch() {
            var queryData = {
                UId: $("#hiddenId").val(),
                PickUpType: $("#searchPickUpType").combobox("getValue")
            };
            InitPickUpListGrid(queryData);
        }

        function doDiscussDetailSearch(pickUpId) {
            var queryData = {
                PickUpId: pickUpId
            };
            InitDiscussListGrid(queryData);
        }

    </script>
</head>

<body id="mainLayout" class="easyui-layout">
    <input id="hiddenId" type="hidden" />

    @*用户列表*@
    <div data-options="region:'west',split:true,collapsible:false" style="width: 26%">
        <div id="tb" style="padding-top: 5px;padding-bottom: 5px;">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td style="float:left;padding-left: 8px;padding-top: 5px;">UId: </td>
                    <td style="float:left;">
                        <input id="searchUId" class="easyui-validatebox textbox" type="text" style="height:25px;width:100px" />
                    </td>
                    <td style="float:left">
                        <a href="#" class="easyui-linkbutton" iconcls="icon icon-search" style="float:left;margin-left: 10px" onclick="doSearch()">搜索</a>
                    </td>
                </tr>
            </table>
        </div>
        <table id="datagrid" style="width: 100%"></table>
    </div>

    @*用户捡到的*@
    <div data-options="region:'center',split:true,collapsible:false" style="width:37%;">
        <div id="tbPickUp" style="padding-top: 5px;padding-bottom: 5px;">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td style="float:right;padding-right: 30px;">
                        <select id="searchPickUpType" class="easyui-combobox" style="height:30px;width:100px" data-options="panelHeight: 'auto'"> </select>
                    </td>
                </tr>
            </table>
        </div>
        <table id="pickUpListGrid"></table>
    </div>

    @*用户扔出去的*@
    <div data-options="region:'east',split:true,collapsible:false" style="width:37%;">
        <table id="discussListGrid"></table>
    </div>

</body>

