@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_EasyUiLayout.cshtml";
}
<head>
    <script type="text/javascript">
        $(function () {
            $('#dlg').dialog('close');
            $('#dlgImg').dialog('close');
            InitCombobox();
            InitGrid(null);
        });

        function InitGrid(queryData) {
            $("#datagrid").datagrid({
                title: "真实用户列表",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'uId',
                striped: true,
                border: false,
                url: '/Today/GetSimulateUserList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                queryParams: queryData,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    {
                        field: 'headPhotoPath', width: 60, title: "头像", sortable: true,
                        formatter: function (value) {
                            if (value != "" || value != null) {
                                return "<img style=\"height: 60px;width: 60px;\" src=\"" + value + "\"/>";
                            }
                        }
                    },
                    { field: 'uId', width: 50, title: "UId", sortable: true },
                    { field: 'nickName', width: 130, title: "用户昵称", sortable: true },
                    { field: 'genderDesc', width: 60, title: "性别", sortable: true }
                ]],
                toolbar: "#tb",
                onClickRow: function (index, row) {
                    $('#hiddenId').val(row.uId);
                    resetPublishListSearch();
                    doPublishListSearch();
                },
                onLoadSuccess: function (data) {
                    $('#hiddenId').val(data.rows[0].uId);
                    doPublishListSearch();
                }
            });
        }

        function InitPublishListGrid(queryData) {
            $("#publishListGrid").datagrid({
                title: "该用户发布的动态",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'uId',
                striped: false,
                border: false,
                url: '/Today/GetSimulateUserPublishList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                queryParams: queryData,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    {
                        field: 'formatter', sortable: false,
                        formatter: function (value, row) {
                            var html = "";
                            html += "<div style='float:left;'><div style='clear:both'>生效时间：" + row.createTime + "</div></div>";
                            html += "<div style='float:left;padding-left: 20px;'><div style='clear:both;'>被捡起次数：" + row.replyCount + "</div></div>";
                            html += "<div style='clear:both;padding-top:5px;height:100%;width: 100%'>" + row.textContent + "</div>";
                            if (row.imgContent != "" && row.imgContent != null) {
                                html += "<div style='clear:both'><img style =\"height: 100%;width: 100%;\" src=\"" + row.imgContent + "\"/></div>";
                            }
                            return html;
                        }
                    }
                ]],
                toolbar: "#tbPublish",
                onClickRow: function (rowIndex, rowData) {
                }
            });
        }

        function InitGridImg(queryData) {
            $("#datagridImg").datagrid({
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'imgId',
                striped: true,
                border: false,
                iconCls: 'icon icon-tree',
                url: '/Today/GetImageGalleryList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                queryParams: queryData,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    {
                        field: 'url', width: 100, title: "缩略图", sortable: true,
                        formatter: function (value) {
                            if (value != "" || value != null) {
                                return "<img style=\"height: 100px;width: 100px;\" src=\"" + value + "\"/>";
                            }
                        }
                    },
                    { field: 'imgName', width: 150, title: "名称", sortable: true },
                    { field: 'remark', width: 150, title: "备注", sortable: true },
                    { field: 'useCount', width: 100, title: "引用次数", sortable: true },
                    { field: 'createUser', width: 100, title: "创建人", sortable: true },
                    { field: 'createTimeDesc', width: 150, title: "创建时间", sortable: true }
                ]],
                toolbar: "#tbImg",
                onDblClickCell: function () {
                    updateImgContent();
                }
            });
        }

        //提交
        function submit() {
            if ($('#addType').val() === "1") {
                imgId = 0;
            }
            var queryData = {
                MomentId: $('#hiddenMomentId').val(),
                UId: $("#hiddenId").val(),
                TextContent: $("#textContentInput").val(),
                CreateTime: $('#createTimeBox').datetimebox('getValue')
            };
            $.post("/Today/AddOrUpdateSimulateMoment",
                { data: $.toJSON(queryData) },
                function (data) {
                    if (data.success) {
                        //成功后刷新界面
                        cancel();
                        reloadPublishGrid();
                    }
                    else {
                        $.messager.alert("提示", data.resultMessage);
                    }
                });
        }

        function updateImgContent() {
            var row = $('#datagridImg').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择对应的行!', 'info');
                return;
            }

            $.post("/Today/UpdateImgContent",
                { momentId: $('#hiddenMomentId').val(), imgId: row.imgId },
                function (data) {
                    if (data.success) {
                        //成功后刷新界面
                        $('#dlgImg').dialog('close');
                        reloadPublishGrid();
                    }
                    else {
                        $.messager.alert("提示", data.resultMessage);
                    }
                });
        }

        //取消
        function cancel() {
            $('#dlg').dialog('close');
        }

        //添加
        function addItem() {
            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择对应的用户!', 'info');
                return;
            }
            $('#addType').val(1);
            $('#hiddenId').val(row.uId);
            $('#hiddenMomentId').val("00000000-0000-0000-0000-000000000000");
            $('#textContentInput').val("");
            $('#createTimeBox').datetimebox('setValue', '');
            $('#dlg').dialog('open');
        }

        //编辑
        function editItem() {
            $('#addType').val(2);

            var row = $('#publishListGrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择对应的行!', 'info');
                return;
            }
            if (!row.canEdit) {
                $.messager.alert('提示', '该动态已被订阅，不能修改!', 'info');
                return;
            }

            $('#hiddenMomentId').val(row.momentId);
            $("#textContentInput").val(row.textContent);
            $('#createTimeBox').datetimebox('setValue', row.createTime);
            $('#dlg').dialog('open');
        }


        //更换选择图片
        function upLoadImage() {
            var row = $('#publishListGrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要编辑的行!', 'info');
                return;
            }
            $('#hiddenMomentId').val(row.momentId);

            InitGridImg(null);
            $('#dlgImg').dialog('open');
        }

        function InitCombobox() {
            $("#momentStateCombobox").combobox({
                url: '/Main/MomentStateCombobox',
                method: 'post',
                valueField: 'selectKey',
                textField: 'selectValue',
                groupField: 'group',
                onSelect: function () {
                    doPickUpListSearch();
                }
            });
        }

        function reloadGrid() {
            $('#datagrid').datagrid('reload');
        }


        function reloadPublishGrid() {
            $('#publishListGrid').datagrid('reload');
        }

        //搜索
        function doSearch() {
            var queryData = {
                UId: $("#searchUId").val()
            };
            InitGrid(queryData);
        }

        function resetPublishListSearch() {
            $('#searchStartDateTime').datetimebox('setValue', '');
            $('#searchEndDateTime').datetimebox('setValue', '');
            $("#momentStateCombobox").combobox('setValue', 0);
        }

        function doPublishListSearch() {
            var queryData = {
                UId: $("#hiddenId").val(),
                MomentState: $("#momentStateCombobox").combobox("getValue"),
                StartCreateTime: $('#searchStartDateTime').datetimebox('getValue'),
                EndCreateTime: $('#searchEndDateTime').datetimebox('getValue')
            };
            InitPublishListGrid(queryData);
        }

        //重置
        function resetSearchImg() {
            $('#searchImgName').val("");
            $('#searchImgEndDateTime').datetimebox('setValue', '');
            $('#searchImgStartDateTime').datetimebox('setValue', '');
        }

        //搜索
        function doSearchImg() {
            if ($('#searchImgEndDateTime').datetimebox('getValue') < $('#searchImgStartDateTime').datetimebox('getValue')) {
                $.messager.alert("提示", "结束日期不能小于起始日期");
                return;
            }
            var queryData = {
                ImgName: $("#searchImgName").val(),
                StartCreateTime: $('#searchImgStartDateTime').datetimebox('getValue'),
                EndCreateTime: $('#searchImgEndDateTime').datetimebox('getValue')
            };
            InitGridImg(queryData);
        }
    </script>
</head>

<body id="mainLayout" class="easyui-layout">
    <input id="hiddenId" type="hidden" />
    <input id="hiddenMomentId" type="hidden" />

    @*用户列表*@
    <div data-options="region:'west',split:true,collapsible:false" style="width: 26%">
        <div id="tb" style="padding-top: 5px;padding-bottom: 5px;">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td style="float:left;padding-left: 8px;padding-top: 5px;">UId: </td>
                    <td style="float:left;">
                        <input id="searchUId" class="easyui-validatebox textbox" type="text" style="height:25px;width:100px" />
                    </td>
                    <td style="float:left">
                        <a href="#" class="easyui-linkbutton" iconcls="icon icon-search" style="float:left;margin-left: 10px" onclick="doSearch()">搜索</a>
                    </td>
                </tr>
            </table>
        </div>
        <table id="datagrid" style="width: 100%"></table>
    </div>

    @*用户捡到的*@
    <div data-options="region:'center',split:true,collapsible:false" style="width:37%;">
        <div id="tbPublish" style="padding-top: 5px;padding-bottom: 5px;">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td style="float:left">
                        <input id="searchStartDateTime" type="text" class="easyui-datetimebox" style="height:25px;width: 125px" editable="fasle">
                        至
                        <input id="searchEndDateTime" type="text" class="easyui-datetimebox" style="height:25px;width: 125px" editable="fasle">
                    </td>
                    <td style="float:left;margin-left:3px">
                        <select id="momentStateCombobox" class="easyui-combobox" style="height:25px;width:80px" data-options="panelHeight: 'auto'"> </select>
                    </td>
                    <td style="float:left">
                        <a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" style="float:left;margin-left:3px" onclick="resetPublishListSearch()">重置</a>
                        <a href="#" class="easyui-linkbutton" iconcls="icon icon-search" style="float:left;margin-left:5px" onclick="doPublishListSearch()">搜索</a>
                    </td>
                </tr>
                <tr>
                    <td style="float:left;padding-top: 5px;">
                        <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="addItem()">增加</a>
                        <a href="#" class="easyui-linkbutton" iconcls="icon icon-edit" plain="true" onclick="editItem()">编辑信息</a>
                        <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="upLoadImage()">上传图片</a>
                        <a href="#" class="easyui-linkbutton" iconcls="icon icon-delete" plain="true" onclick="del()">删除</a>
                    </td>
                </tr>
            </table>
        </div>
        <table id="publishListGrid"></table>
    </div>

    @*用户扔出去的*@
    <div data-options="region:'east',split:true,collapsible:false" style="width:37%;">
        <table id="discussListGrid"></table>
    </div>

    @*图片选择弹框*@
    <div id="dlgImg" class="easyui-dialog" title="头像素材" data-options="iconCls:'icon-save'" style="width:800px;height:500px;display:none">
        <div id="tbImg">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td style="float:left">
                        <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="updateImgContent()">确定</a>
                    </td>
                    <td style="float:left;padding-left: 8px;padding-top: 5px;">图片名: </td>
                    <td style="float:left;">
                        <input id="searchImgName" class="easyui-validatebox textbox" type="text" style="height:25px;width:100px" />
                    </td>
                    <td style="float:left;padding-left: 8px;padding-top: 5px;">创建时间:</td>
                    <td style="float:left">
                        <input id="searchImgStartDateTime" type="text" class="easyui-datetimebox" style="height:25px;width: 145px" editable="fasle">
                        至
                        <input id="searchImgEndDateTime" type="text" class="easyui-datetimebox" style="height:25px;width: 145px" editable="fasle">
                    </td>
                    <td style="float:left">
                        <a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" style="float:left;margin-left: 10px" onclick="resetSearchImg()">重置</a>
                        <a href="#" class="easyui-linkbutton" iconcls="icon icon-search" style="float:left;margin-left: 10px" onclick="doSearchImg()">搜索</a>
                    </td>
                </tr>
            </table>
        </div>

        <table id="datagridImg" style="width: 100%"></table>
    </div>

    @*编辑框*@
    <div id="dlg" class="easyui-dialog" title="编辑动态" data-options="iconCls:'icon-save'" style="width:450px;height:230px;padding:10px;display:none">
        <div style="padding: 5px">
            <form id="ff">
                <table class="groupTable">
                    <tr>
                        <td colspan="1">生效时间:</td>
                        <td style="width: 300px;float: left;" colspan="2">
                            <input id="createTimeBox" type="text" class="easyui-datetimebox" style="height:25px;width: 145px" editable="fasle">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">动态文本内容:</td>
                        <td colspan="2" style="width: 300px;float: left;">
                            <textarea id="textContentInput" style="height:60px;width: 100%"></textarea>
                        </td>
                    </tr>
                </table>
            </form>
            <br />
            <div align="center" style="float:left;margin-left:110px"><a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" onclick="cancel()">取消</a></div>
            <div align="center" style="float:right;margin-right:110px"><a href="#" class="easyui-linkbutton" iconcls="icon icon-ok" onclick="submit()">确定</a></div>
        </div>
    </div>
</body>

