@{
    ViewBag.Title = "权限树管理";
    Layout = "~/Views/Shared/_EasyUiLayout.cshtml";
}
<head>
    <title>权限树管理</title>
    <script type="text/javascript">
        $(function () {
            InitGrid();
        });
        function InitGrid() {
            $("#datagrid1").datagrid({
                title: "图片素材库列表",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                nowrap: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'textId',
                striped: true,
                border: false,
                iconCls: 'icon icon-tree',
                url: '/Today/GetTextGalleryList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                pagination: true,
                pageSize: 10,
                columns: [[
                    { field: 'textId', width: 120, title: "文本Id", sortable: true },
                    { field: 'textContent', width: 120, title: "文本内容", sortable: true },
                    { field: 'textSource', width: 120, title: "文本来源", sortable: true },
                    { field: 'author', width: 120, title: "作者", sortable: true },
                    { field: 'remark', width: 120, title: "备注", sortable: true },
                    { field: 'createUser', width: 120, title: "创建人", sortable: true },
                    { field: 'modifyUser', width: 120, title: "最近修改人", sortable: true },
                    { field: 'createTimeDesc', width: 120, title: "创建时间", sortable: true },
                    { field: 'modifyTimeDesc', width: 120, title: "最近修改时间", sortable: true },
                ]],
                toolbar: "#tb"
            });
        }


        //添加
        function addItem() {
            parent.ShowDialog(true, '/ZuJuan/CanShuManage/AddorEditCityView', 250, 350, '增加省/市', reloadGrid);
        }

        //编辑
        function editItem() {
            var row = $('#datagrid1').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要编辑的行!', 'info');
                return;
            }
            parent.ShowDialog(true, '/ZuJuan/CanShuManage/AddorEditCityView?id=' + row.Id, 250, 350, '编辑省/市', reloadGrid);
        }
        function del() {
            var row = $('#datagrid1').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要删除的行!', 'info');
                return;
            }
            $.messager.confirm('提示', '是否删除?', function (r) {
                if (r) {
                    //ajax删除
                    $.post("/ZuJuan/CanShuManage/DeleteCity",
                        { id: $.toJSON(row.Id) },
                        function (data) {
                            var info = eval('(' + data + ')');
                            if (info) {
                                $.messager.alert('提示', info.Message, 'info');
                                reloadGrid();
                            }
                            else {
                                $.messager.alert('提示', info.Message, 'info');
                                reloadGrid();
                            }
                        });
                }
                else {
                    return;
                }
            });
        }
        function reloadGrid() {
            $('#datagrid1').datagrid('reload');
        }
    </script>
</head>
<input id="hiddenId" type="hidden" />
<table id="datagrid1"></table>

<div id="tb">
    <table cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="addItem()">增加</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-edit" plain="true" onclick="editItem()">编辑</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-delete" plain="true" onclick="del()">删除</a>
            </td>
        </tr>
    </table>
</div>