@{
    ViewBag.Title = "今日份";
    Layout = "~/Views/Shared/_EasyUiLayout.cshtml";
}
<head>
    <title>今日份</title>
    <script type="text/javascript">
        $(function () {
            cancelHomeInfo();
            cancelHomeImg();
            cancelHomeText();
            InitGrid(null);
            InitTextGrid(null);
            InitImgGrid(null);
            InitSelectTextGrid(null);
            InitSelectImgGrid(null);
        });

        function InitGrid(queryData) {
            $("#datagrid").datagrid({
                title: "今日份主页",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'textId',
                striped: true,
                border: false,
                iconCls: 'icon icon-tree',
                url: '/Today/GetHomeInfoList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                queryParams: queryData,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    { field: 'displayStartDateTime', width: 130, title: "展示开始日期", sortable: true },
                    { field: 'displayEndDateTime', width: 130, title: "展示结束日期", sortable: true },
                    { field: 'createUser', width: 80, title: "创建人", sortable: true }
                ]],
                toolbar: "#tb",
                onSelect: function (index, row) {
                    $('#hiddenHomeInfoId').val(row.homeInfoId);
                    InitTextAndImgGrid(row.homeInfoId);
                }
            });
        }

        function InitTextGrid(queryData) {
            $("#textGrid").datagrid({
                title: "今日份言论",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'homeTextId',
                striped: true,
                border: false,
                iconCls: 'icon icon-tree',
                url: '/Today/GetHomeTextList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                queryParams: queryData,
                nowrap: false,   //换行
                pagination: false,
                columns: [[
                    {
                        field: 'formatter', width: '95%', title: "今日份言论", sortable: true,
                        formatter: function (value, row) {
                            var str = "";
                            if (value != "" || value != null) {
                                str = "<div style='font-size:14px'>" + row.textContent + "</div><br/>";
                                str += "<div style='font-size:10px;flote:right'>来自：" + row.author + "</div>";
                            }
                            return str;
                        }
                    }
                ]],
                toolbar: "#tbText",
                onDblClickCell: function () {
                }
            });
        }

        function InitImgGrid(queryData) {
            $("#imgGrid").datagrid({
                title: "今日份沙雕图",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'homeImgId',
                queryParams: queryData,
                striped: true,
                border: false,
                iconCls: 'icon icon-tree',
                url: '/Today/GetHomeImgList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                nowrap: false,   //换行
                pagination: false,
                columns: [[
                    {
                        field: 'imgUrl', width: 200, title: "缩略图", sortable: true,
                        formatter: function (value) {
                            if (value != "" || value != null) {
                                return "<img style=\"height: 200px;width: 200px;\" src=\"" + value + "\"/>";
                            }
                        }
                    }
                ]],
                toolbar: "#tbImg",
                onDblClickCell: function () {
                    editItem();
                }
            });
        }

        function InitSelectTextGrid(queryData) {
            $("#selectTextGrid").datagrid({
                title: "今日份言论素材库",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'textId',
                striped: true,
                border: false,
                queryParams: queryData,
                iconCls: 'icon icon-tree',
                url: '/Today/GetTextGalleryList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    { field: 'textContent', width: 300, title: "文本内容", sortable: true },
                    { field: 'textSource', width: 120, title: "文本来源", sortable: true },
                    { field: 'author', width: 120, title: "作者", sortable: true },
                    { field: 'remark', width: 160, title: "备注", sortable: true },
                    { field: 'createUser', width: 80, title: "创建人", sortable: true },
                    { field: 'createTimeDesc', width: 130, title: "创建时间", sortable: true }
                ]],
                toolbar: "#tbHomeText",
                onDblClickCell: function () {
                    submitHomeText();
                }
            });
        }

        function InitSelectImgGrid(queryData) {
            $("#selectImgGrid").datagrid({
                title: "图片素材库列表",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'textId',
                striped: true,
                border: false,
                queryParams: queryData,
                iconCls: 'icon icon-tree',
                url: '/Today/GetImageGalleryList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    {
                        field: 'url', width: 300, title: "缩略图", sortable: true,
                        formatter: function (value) {
                            if (value != "" || value != null) {
                                return "<img style=\"height: 250px;width: 250px;\" src=\"" + value + "\"/>";
                            }
                        }
                    },
                    {
                        field: 'formatter', width: 500, title: "图片详情", sortable: true,
                        formatter: function (value, row) {
                            var str = "";
                            if (value != "" || value != null) {
                                str = "<div style='font-size:14px'>图片名:" + row.imgName + "<br/><br/>";
                                str += "图片来源:" + row.imgSource + "<br/><br/>";
                                str += "作者:" + row.author + "<br/><br/>";
                                str += "备注:" + row.remark + "<br/><br/>";
                                str += "创建人:" + row.createUser + "<br/><br/>";
                                str += "创建时间:" + row.createTimeDesc + "<br/><br/>";
                            }
                            return str;
                        }
                    }
                ]],
                toolbar: "#tbHomeImg",
                onDblClickCell: function () {
                    submitHomeImg();
                }
            });
        }

        function InitTextAndImgGrid(homeInfoId) {
            var queryData = {
                HomeInfoId: homeInfoId
            };
            InitTextGrid(queryData);
            InitImgGrid(queryData);
        }

        function reloadGrid() {
            $('#datagrid').datagrid('reload');
            $('#datagrid').datagrid('clearSelections');
        }

        function reloadTextGrid() {
            $('#textGrid').datagrid('reload');
            $('#textGrid').datagrid('clearSelections');
        }

        function reloadImgGrid() {
            $('#imgGrid').datagrid('reload');
            $('#imgGrid').datagrid('clearSelections');
        }

        function cancelHomeInfo() {
            $('#dlg').dialog('close');
        }

        function cancelHomeText() {
            $('#dlgHomeText').dialog('close');
        }

        function cancelHomeImg() {
            $('#dlgHomeImg').dialog('close');
        }

        function addHomeInfo() {
            $('#addHomeInfoType').val(1);
            $('#remarkInput').val("");
            $('#displayStartDateTime').datetimebox('setValue', '');
            $('#displayEndDateTime').datetimebox('setValue', '');
            $('#dlg').dialog('open');
        }

        function addText() {
            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择今日份对应的行!', 'info');
                return;
            }
            InitSelectTextGrid(null);
            $('#dlgHomeText').dialog('open');
        }

        function addImg() {
            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择今日份对应的行!', 'info');
                return;
            }
            InitSelectImgGrid();
            $('#dlgHomeImg').dialog('open');
        }

        function editHomeInfo() {

            $('#addHomeInfoType').val(2);

            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要编辑的行!', 'info');
                return;
            }
            $('#hiddenHomeInfoId').val(row.homeInfoId);
            $('#displayStartDateTime').datetimebox('setValue', row.displayStartDateTime);
            $('#displayEndDateTime').datetimebox('setValue', row.displayEndDateTime);
            $('#remarkInput').val(row.remark);
            $('#dlg').dialog('open');
        }

        function submitHomeInfo() {
            if ($('#displayStartDateTime').datetimebox('getValue') === "") {
                $.messager.alert("提示", "起始日期不能为空");
                return;
            }
            if ($('#displayEndDateTime').datetimebox('getValue') === "") {
                $.messager.alert("提示", "结束日期不能为空");
                return;
            }
            if ($('#displayEndDateTime').datetimebox('getValue') < $('#displayStartDateTime').datetimebox('getValue')) {
                $.messager.alert("提示", "结束日期不能小于起始日期");
                return;
            }
            var homeInfoId = $('#hiddenHomeInfoId').val();
            if ($('#addHomeInfoType').val() === "1") {
                homeInfoId = 0;
            }
            var queryData = {
                DisplayStartDateTime: $('#displayStartDateTime').datetimebox('getValue'),
                DisplayEndDateTime: $('#displayEndDateTime').datetimebox('getValue'),
                Remark: $("#remarkInput").val(),
                HomeInfoId: homeInfoId
            };
            $.post("/Today/AddOrUpdateHomeInfo",
                { data: $.toJSON(queryData) },
                function (data) {
                    if (data.success) {
                        //成功后刷新界面
                        cancelHomeInfo();
                        reloadGrid();
                    }
                    else {
                        $.messager.alert("提示", data.resultMessage);
                    }
                });
        }

        function submitHomeText() {
            var row = $('#selectTextGrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要今日份言论对应的行!', 'info');
                return;
            }
            var homeInfoId = $('#hiddenHomeInfoId').val();

            var queryData = {
                TextId: row.textId,
                HomeInfoId: homeInfoId
            };
            $.post("/Today/IndertHomeText",
                { data: $.toJSON(queryData) },
                function (data) {
                    if (data.success) {
                        //成功后刷新界面
                        cancelHomeText();
                        reloadTextGrid();
                    }
                    else {
                        $.messager.alert("提示", data.resultMessage);
                    }
                });
        }

        function submitHomeImg() {
            var row = $('#selectImgGrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要今日份沙雕对应的行!', 'info');
                return;
            }
            var homeInfoId = $('#hiddenHomeInfoId').val();

            var queryData = {
                ImgId: row.imgId,
                HomeInfoId: homeInfoId
            };
            $.post("/Today/IndertHomeImg",
                { data: $.toJSON(queryData) },
                function (data) {
                    if (data.success) {
                        //成功后刷新界面
                        cancelHomeImg();
                        reloadImgGrid();
                    }
                    else {
                        $.messager.alert("提示", data.resultMessage);
                    }
                });
        }

        function delHomeInfo() {
            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要删除的行!', 'info');
                return;
            }
            $.messager.confirm('提示', '是否删除?', function (r) {
                if (r) {
                    $.post("/Today/DeleteHomeInfo",
                        { data: $.toJSON(row.homeInfoId) },
                        function (data) {
                            if (data.success) {
                                //成功后刷新界面
                                reloadGrid();
                            }
                            else {
                                $.messager.alert("提示", data.resultMessage);
                            }
                        });
                }
                else {
                    return;
                }
            });
        }

        function delHomeText() {
            var row = $('#textGrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要删除的行!', 'info');
                return;
            }
            $.messager.confirm('提示', '是否删除?', function (r) {
                if (r) {
                    $.post("/Today/DeleteHomeText",
                        { data: $.toJSON(row.homeTextId) },
                        function (data) {
                            if (data.success) {
                                //成功后刷新界面
                                reloadTextGrid();
                            }
                            else {
                                $.messager.alert("提示", data.resultMessage);
                            }
                        });
                }
                else {
                    return;
                }
            });
        }

        function delHomeImg() {
            var row = $('#imgGrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要删除的行!', 'info');
                return;
            }
            $.messager.confirm('提示', '是否删除?', function (r) {
                if (r) {
                    $.post("/Today/DeleteHomeImg",
                        { data: $.toJSON(row.homeImgId) },
                        function (data) {
                            if (data.success) {
                                //成功后刷新界面
                                reloadImgGrid();
                            }
                            else {
                                $.messager.alert("提示", data.resultMessage);
                            }
                        });
                }
                else {
                    return;
                }
            });
        }

        function textMove(up) {
            var row = $('#textGrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择对应的行!', 'info');
                return;
            }

            $.post("/Today/MoveHomeText",
                { homeTextId: row.homeTextId, toUp: up },
                function (data) {
                    if (data.success) {
                        //成功后刷新界面
                        reloadTextGrid();
                    }
                    else {
                        $.messager.alert("提示", data.resultMessage);
                    }
                });
        }

        function imgMove(up) {
            var row = $('#imgGrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择对应的行!', 'info');
                return;
            }

            $.post("/Today/MoveHomeImg",
                { homeImgId: row.homeImgId, toUp: up },
                function (data) {
                    if (data.success) {
                        //成功后刷新界面
                        reloadImgGrid();
                    }
                    else {
                        $.messager.alert("提示", data.resultMessage);
                    }
                });
        }
        
        function resetSearch() {
            $('#searchStartDateTime').datetimebox('setValue', '');
            $('#searchEndDateTime').datetimebox('setValue', '');
        }
        
        function doSearch() {
            if ($('#searchEndDateTime').datetimebox('getValue') < $('#searchStartDateTime').datetimebox('getValue')) {
                $.messager.alert("提示", "结束日期不能小于起始日期");
                return;
            }
            var queryData = {
                StartCreateTime: $('#searchStartDateTime').datetimebox('getValue'),
                EndCreateTime: $('#searchEndDateTime').datetimebox('getValue')
            };
            InitGrid(queryData);
        }
        
        function resetHomeTextSearch() {
            $('#searchTextContent').val("");
            $('#searchTextSource').val("");
            $('#searchTextStartDateTime').datetimebox('setValue', '');
            $('#searchTextEndDateTime').datetimebox('setValue', '');
        }
        
        function doHomeTextSearch() {
            if ($('#searchTextEndDateTime').datetimebox('getValue') < $('#searchTextStartDateTime').datetimebox('getValue')) {
                $.messager.alert("提示", "结束日期不能小于起始日期");
                return;
            }
            var queryData = {
                TextContent: $("#searchTextContent").val(),
                TextSource: $("#searchTextSource").val(),
                StartCreateTime: $('#searchTextStartDateTime').datetimebox('getValue'),
                EndCreateTime: $('#searchTextEndDateTime').datetimebox('getValue')
            };
            InitSelectTextGrid(queryData);
        }
        
        function resetHomeImgSearch() {
            $('#searchImgName').val("");
            $('#searchImgSource').val("");
            $('#searchImgStartDateTime').datetimebox('setValue', '');
            $('#searchImgEndDateTime').datetimebox('setValue', '');
        }
        
        function doHomeImgSearch() {
            if ($('#searchImgEndDateTime').datetimebox('getValue') < $('#searchImgStartDateTime').datetimebox('getValue')) {
                $.messager.alert("提示", "结束日期不能小于起始日期");
                return;
            }
            var queryData = {
                ImgName: $("#searchImgName").val(),
                ImgSource: $("#searchImgSource").val(),
                StartCreateTime: $('#searchImgStartDateTime').datetimebox('getValue'),
                EndCreateTime: $('#searchImgEndDateTime').datetimebox('getValue')
            };
            InitSelectImgGrid(queryData)
        }
    </script>
</head>

<body id="mainLayout" class="easyui-layout">

    <input id="hiddenHomeInfoId" type="hidden" />
    <input id="addHomeInfoType" type="hidden" />

    @*今日份*@
    <div data-options="region:'west',split:true,collapsible:false" style="width: 32%">
        <table id="datagrid"></table>
    </div>

    @*今日份言论列表*@
    <div data-options="region:'center',split:true,collapsible:false" style="width:43%;">
        <table id="textGrid"></table>
    </div>

    @*今日份沙雕图*@
    <div data-options="region:'east',split:true,collapsible:false" style="width:25%;">
        <table id="imgGrid"></table>
    </div>

    @*今日份toolbar*@
    <div id="tb">
        <table cellpadding="0" cellspacing="0" style="width: 100%">
            <tr>
                <td style="float:left;padding-left: 8px;padding-top: 5px;">展示时间:</td>
                <td style="float:left">
                    <input id="searchStartDateTime" type="text" class="easyui-datetimebox" style="height:25px;width: 145px" editable="fasle">
                    至
                    <input id="searchEndDateTime" type="text" class="easyui-datetimebox" style="height:25px;width: 145px" editable="fasle">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="addHomeInfo()">增加</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-edit" plain="true" onclick="editHomeInfo()">编辑</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-delete" plain="true" onclick="delHomeInfo()">删除</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-search" style="float:right;margin-left: 10px" onclick="doSearch()">搜索</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" style="float:right;margin-left: 10px" onclick="resetSearch()">重置</a>
                </td>
            </tr>
        </table>
    </div>

    @*今日份言论toolbar*@
    <div id="tbText">
        <table cellpadding="0" cellspacing="0" style="width: 100%">
            <tr>
                <td>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="addText()">增加</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-edit" plain="true" onclick="textMove(true)">升序</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-edit" plain="true" onclick="textMove(false)">降序</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-delete" plain="true" onclick="delHomeText()">删除</a>
                </td>
            </tr>
        </table>
    </div>

    @*今日份沙雕图toolbar*@
    <div id="tbImg">
        <table cellpadding="0" cellspacing="0" style="width: 100%">
            <tr>
                <td>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="addImg()">增加</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-edit" plain="true" onclick="imgMove(true)">升序</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-edit" plain="true" onclick="imgMove(false)">降序</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-delete" plain="true" onclick="delHomeImg()">删除</a>
                </td>
            </tr>
        </table>
    </div>

    @*今日份编辑弹框*@
    <div id="dlg" class="easyui-dialog" title="今日份" data-options="iconCls:'icon-save'" style="width:600px;height:220px;padding:10px;display:none">
        <div style="padding: 5px">
            <form id="formHomeInfo">
                <table class="groupTable">
                    <tr>
                        <td>展示日期:</td>
                        <td>
                            <input id="displayStartDateTime" type="text" class="easyui-datetimebox" style="height:30px;width: 150px" required="required" editable="fasle">
                            至<input id="displayEndDateTime" type="text" class="easyui-datetimebox" style="height:30px;width: 150px" required="required" editable="fasle">
                        </td>
                    </tr>
                    <tr>
                        <td>备注:</td>
                        <td><textarea id="remarkInput" style="height:60px;width: 100%"></textarea> </td>
                    </tr>
                </table>
            </form>
            <br />
            <div align="center" style="float:left;margin-left:200px"><a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" onclick="cancelHomeInfo()">取消</a></div>
            <div align="center" style="float:right;margin-right:200px"><a href="#" class="easyui-linkbutton" iconcls="icon icon-ok" onclick="submitHomeInfo()">确定</a></div>
        </div>
    </div>

    @*新增今日份言论弹框*@
    <div id="dlgHomeText" class="easyui-dialog" title="今日份言论" data-options="iconCls:'icon-save'" style="width:1000px;height:500px;display:none">
        <div style="width: 100%;height:100%">
            <table id="selectTextGrid"></table>
        </div>
    </div>

    @*新增今日份言论弹框toolbar*@
    <div id="tbHomeText">
        <table cellpadding="0" cellspacing="0" style="width: 100%">
            <tr>
                <td>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" plain="true" onclick="cancelHomeText()">取消</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-ok" plain="true" onclick="submitHomeText()">确定</a>
                </td>
                <td style="float:left;padding-left: 8px;padding-top: 5px;">文本关键字: </td>
                <td style="float:left;">
                    <input id="searchTextContent" class="easyui-validatebox textbox" type="text" style="height:25px;width:120px" />
                </td>
                <td style="float:left;padding-left: 8px;padding-top: 5px;">文本来源:</td>
                <td style="float:left">
                    <input id="searchTextSource" class="easyui-validatebox textbox" type="text" style="height:25px;width:100px" />
                </td>
                <td style="float:left;padding-left: 8px;padding-top: 5px;">创建时间:</td>
                <td style="float:left">
                    <input id="searchTextStartDateTime" type="text" class="easyui-datetimebox" style="height:25px;width: 145px" editable="fasle">
                    至
                    <input id="searchTextEndDateTime" type="text" class="easyui-datetimebox" style="height:25px;width: 145px" editable="fasle">
                </td>
                <td style="float:left">
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" style="float:left;margin-left: 10px" onclick="resetHomeTextSearch()">重置</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-search" style="float:left;margin-left: 10px" onclick="doHomeTextSearch()">搜索</a>
                </td>
            </tr>
        </table>
    </div>

    @*新增今日份沙雕图弹框*@
    <div id="dlgHomeImg" class="easyui-dialog" title="今日份言论" data-options="iconCls:'icon-save'" style="width:1000px;height:500px;display:none">
        <div style="width: 100%;height:100%">
            <table id="selectImgGrid"></table>
        </div>
    </div>

    @*新增今日份沙雕图弹框toolbar*@
    <div id="tbHomeImg">
        <table cellpadding="0" cellspacing="0" style="width: 100%">
            <tr>
                <td>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" plain="true" onclick="cancelHomeImg()">取消</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-ok" plain="true" onclick="submitHomeImg()">确定</a>
                </td>
                <td style="float:left;padding-left: 8px;padding-top: 5px;">图片名: </td>
                <td style="float:left;">
                    <input id="searchImgName" class="easyui-validatebox textbox" type="text" style="height:25px;width:100px" />
                </td>
                <td style="float:left;padding-left: 8px;padding-top: 5px;">图片来源:</td>
                <td style="float:left">
                    <input id="searchImgSource" class="easyui-validatebox textbox" type="text" style="height:25px;width:90px" />
                </td>
                <td style="float:left;padding-left: 8px;padding-top: 5px;">创建时间:</td>
                <td style="float:left">
                    <input id="searchImgStartDateTime" type="text" class="easyui-datetimebox" style="height:25px;width: 145px" editable="fasle">
                    至
                    <input id="searchImgEndDateTime" type="text" class="easyui-datetimebox" style="height:25px;width: 145px" editable="fasle">
                </td>
                <td style="float:left">
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" style="float:left;margin-left: 10px" onclick="resetHomeImgSearch()">重置</a>
                    <a href="#" class="easyui-linkbutton" iconcls="icon icon-search" style="float:left;margin-left: 10px" onclick="doHomeImgSearch()">搜索</a>
                </td>
            </tr>
        </table>
    </div>
</body>
