@{
    ViewBag.Title = "权限树管理";
    Layout = "~/Views/Shared/_EasyUiLayout.cshtml";
}
<head>
    <title>权限树管理</title>
    <script type="text/javascript">
        $(function () {
            InitGrid();
        });

        function InitGrid() {
            $("#datagrid").datagrid({
                title: "",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'textId',
                striped: true,
                border: false,
                iconCls: 'icon icon-tree',
                url: '/SysTree/GetLogList',//获取列表数据
                method: 'post',
                autoRowHeight: false,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    { field: 'createTime', width: 120, title: "", sortable: true },
                    { field: 'logLevel', width: 100, title: "", sortable: true },
                    { field: 'logContent', width: 500, title: "", sortable: true }
                ]],
                queryParams: {
                    name: 'easyui',
                    subject: 'datagrid'
                },
                toolbar: "#tb",
                onDblClickCell: function () {
                    editItem();
                 }
            });
        }
        
        function reloadGrid() {
            $('#datagrid').datagrid('reload');
        }
    </script>
</head>
<input id="hiddenId" type="hidden" />
<table id="datagrid" style="width: 100%"></table>

<div id="tb">
    <table cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="addItem()">增加</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-edit" plain="true" onclick="editItem()">编辑</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-delete" plain="true" onclick="del()">删除</a>
            </td>
        </tr>
    </table>
</div>
