@{
    ViewBag.Title = "合伙人管理";
    Layout = "~/Views/Shared/_EasyUiLayout.cshtml";
}
<head>
    <title>权限树管理</title>
    <script type="text/javascript">
        $(function () {
            $('#dlg').dialog('close');
            InitGrid(null);
            InitCombobox();
        });

        function InitGrid(queryData) {
            $("#datagrid").datagrid({
                title: "用户列表",
                rownumbers: true,
                fit: true,
                singleSelect: true,
                remoteSort: false,//前台排序 true则为后台排序 需要传参
                idField: 'staffId',
                striped: true,
                border: false,
                iconCls: 'icon icon-tree',
                url: '/SysTree/GetStaffList',//获取列表数据
                method: 'post',
                queryParams: queryData,
                autoRowHeight: false,
                nowrap: false,   //换行
                pagination: true,
                pageSize: 10,
                columns: [[
                    { field: 'staffName', width: 150, title: "姓名", sortable: true },
                    { field: 'genderDesc', width: 80, title: "性别", sortable: true },
                    { field: 'roleDesc', width: 120, title: "角色", sortable: true },
                    { field: 'mobile', width: 150, title: "手机号", sortable: true },
                    { field: 'email', width: 150, title: "电子邮箱", sortable: true },
                    { field: 'createTimeDesc', width: 130, title: "创建时间", sortable: true },
                    { field: 'modifyTimeDesc', width: 130, title: "最近修改时间", sortable: true }
                ]],
                toolbar: "#tb",
                onDblClickCell: function () {
                    editItem();
                }
            });
        }


        //添加
        function addItem() {
            $('#addType').val(1);
            $('#textStaffName').val("");
            $('#textMobile').val("");
            $('#textEmail').val("");
            $('#dlg').dialog('open');
        }

        //提交
        function submit() {
            var staffId = $('#hiddenId').val();
            if ($('#addType').val() === "1") {
                staffId = 0;
            }
            var queryData = {
                StaffName: $("#textStaffName").val(),
                Mobile: $("#textMobile").val(),
                Email: $("#textEmail").val(),
                Gender: $("#genderCombobox").combobox("getValue"),
                Role: $("#roleCombobox").combobox("getValue"),
                StaffId: staffId
            };
            $.post("/SysTree/AddOrUpdateStaff",
                { data: $.toJSON(queryData) },
                function (data) {
                    if (data.success) {
                        //成功后刷新界面
                        cancel();
                        reloadGrid();
                    }
                    else {
                        $.messager.alert("提示", data.resultMessage);
                    }
                });
        }

        //取消
        function cancel() {
            $('#dlg').dialog('close');
        }

        //编辑
        function editItem() {

            $('#addType').val(2);

            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要编辑的行!', 'info');
                return;
            }
            $('#hiddenId').val(row.staffId);
            $('#textStaffName').val(row.staffName);
            $("#genderCombobox").combobox('setValue', row.gender);
            $("#roleCombobox").combobox('setValue', row.role);
            $('#textMobile').val(row.mobile);
            $('#textEmail').val(row.email);
            $('#dlg').dialog('open');
        }

        function InitCombobox() {
            $("#genderCombobox").combobox({
                url: '/SysTree/GenderCombobox',
                method: 'post',
                valueField: 'selectKey',
                textField: 'selectValue',
                groupField: 'group'
            });
            $("#roleCombobox").combobox({
                url: '/SysTree/RoleCombobox',
                method: 'post',
                valueField: 'selectKey',
                textField: 'selectValue',
                groupField: 'group'
            });
        }

        //删除
        function del() {
            var row = $('#datagrid').datagrid('getSelected');
            if (!row) {
                $.messager.alert('提示', '请选择要删除的行!', 'info');
                return;
            }
            $.messager.confirm('提示', '是否删除?', function (r) {
                if (r) {
                    $.post("/SysTree/DeleteStaff",
                        { data: $.toJSON(row.staffId) },
                        function (data) {
                            if (data.success) {
                                //成功后刷新界面
                                reloadGrid();
                            }
                            else {
                                $.messager.alert("提示", data.resultMessage);
                            }
                        });
                }
                else {
                    return;
                }
            });
        }

        //重载
        function reloadGrid() {
            $('#datagrid').datagrid('reload');
        }

        //重置
        function resetSearch() {
            $('#searchStaffName').val("");
            $('#searchMobile').val("");
        }

        //搜索
        function doSearch() {
            var queryData = {
                StaffName: $("#searchStaffName").val(),
                Mobile: $("#searchMobile").val()
            };
            InitGrid(queryData);
        }
    </script>
</head>
<input id="hiddenId" type="hidden" />
<input id="addType" type="hidden" />
<table id="datagrid" style="width: 100%"></table>

<div id="tb">
    <table cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td style="float:left">
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-add" plain="true" onclick="addItem()">增加</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-edit" plain="true" onclick="editItem()">编辑</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-delete" plain="true" onclick="del()">删除</a>
            </td>
            <td style="float:left;padding-left: 8px;padding-top: 5px;">姓名: </td>
            <td style="float:left;">
                <input id="searchStaffName" class="easyui-validatebox textbox" type="text" style="height:25px;width:120px" />
            </td>
            <td style="float:left;padding-left: 8px;padding-top: 5px;">手机号:</td>
            <td style="float:left">
                <input id="searchMobile" class="easyui-validatebox textbox" type="text" style="height:25px;width:120px" />
            </td>
            <td style="float:left">
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" style="float:left;margin-left: 10px" onclick="resetSearch()">重置</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon icon-search" style="float:left;margin-left: 10px" onclick="doSearch()">搜索</a>
            </td>
        </tr>
    </table>
</div>


@*编辑框*@
<div id="dlg" class="easyui-dialog" title="编辑用户" data-options="iconCls:'icon-save'" style="width:600px;height:290px;padding:10px;display:none">
    <div style="padding: 5px">
        <form id="ff">
            <table class="groupTable">
                <tr>
                    <td colspan="1">姓名:</td>
                    <td colspan="1"> <input id="textStaffName" class="easyui-validatebox textbox" type="text" style="height:30px;width:100%" /></td>
                    <td colspan="1">性别:</td>
                    <td colspan="1"> <select id="genderCombobox" class="easyui-combobox" style="height:30px;width:100px" data-options="panelHeight: 'auto'"> </select> </td>
                </tr>
                <tr>
                    <td colspan="1">手机号:</td>
                    <td colspan="1"> <input id="textMobile" class="easyui-validatebox textbox" type="text" style="height:30px;width:100%" /></td>
                    <td colspan="1">角色:</td>
                    <td colspan="1"><select id="roleCombobox" class="easyui-combobox" style="height:30px;width:100px" data-options="panelHeight: 'auto'"></select></td>
                </tr>
                <tr>
                    <td colspan="1">电子邮箱:</td>
                    <td colspan="3"> <input id="textEmail" class="easyui-validatebox textbox" type="text" style="height:30px;width:100%" /></td>
                </tr>
            </table>
        </form>
        <br /> <br /> <br />
        <div align="center" style="float:left;margin-left:200px"><a href="#" class="easyui-linkbutton" iconcls="icon icon-cancel" onclick="cancel()">取消</a></div>
        <div align="center" style="float:right;margin-right:200px"><a href="#" class="easyui-linkbutton" iconcls="icon icon-ok" onclick="submit()">确定</a></div>
    </div>
</div>
